@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --body-color: rgb(250, 250, 250);
  --color-white: rgb(255, 255, 255);
  --third-color: rgb(192, 166, 49);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: var(--body-color);
}
.container {
    width: 100%;
    position: relative;
    
  }
  
  .wrapper {
    padding-inline: 10vw;
  }
  .demo-box {
    position: relative;
    display: flex;
    height: 100vh;
    min-height: 700px;
  }
  
  .demo-text {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 80vh;
    flex-direction: column;
    width: 50%;
    padding-left: 20px;

  }
  
  .demo-text-card span {
    background: palevioletred;
    color: var(--color-white);
    padding: 3px 8px;
    font-size: 30px;
    border-radius: 5px;
  }
  
  .demo-name {
    font-size: 50px;
  }
  
  .demo-image {
    display: flex;
    justify-content: right;
    align-content: center;
    min-height: 80vh;
    width: 50%;
  }
  
  .image {
    margin: auto 0;
    width: 380px;
    height: 380px;
    border-radius: 55% 45% 55% 45%;
    overflow: hidden;
    animation: imgFloat 7s ease-in-out infinite;
  }
  
  .image img {
    width: 380px;
    height: 380px;
    object-fit: cover;
  }
  
  @keyframes imgFloat {
    50% {
      transform: translateX(10px);
      border-radius: 45% 45% 45% 45%;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .demo-text {
      padding: 0;
    }
  
    .image,
    .image img {
      width: 320px;
      height: 320px;
    }
  }
  
  @media only screen and (max-width: 900px) {
    .demo-box {
      flex-direction: column;
      justify-content: center;
      align-items: center; 
      height: auto; 
    }
  
    .demo-text {
      width: 90%; 
      order: 2;
      justify-content: center;
      align-content: flex-start;
      min-height: 60vh;
      margin-bottom: 40px;
    }
  
    .demo-image {
      order: 1;
      margin-top: 3%;
      min-height: auto;
      width: 80%; 
      margin-top: 0;
      margin-top: 0;
   
    }
  
    
    .image img {
      width: 100%; 
      height: auto; 
      max-width: 300px;
      max-height: 300px; 
      margin-top: 10%;
      margin-bottom: 5%;
    }
}
  
  .contact{
    border: 2px solid black;
    background-color: rgb(239, 237, 237);
  }
  .educontainer{
    border: 5px solid black;
    border-radius: 20px;
    background-color: rgb(222, 72, 122);
    padding :5px 5px;
    color: aliceblue;



  }
  .edubox{
    border: 5px solid black;
    border-radius: 20px;
    background-color: rgb(222, 72, 122);
    margin:5px ;
    padding :5px 5px;
    color: aliceblue;

  }
div.educontainer:hover
{
    border: 6px solid black ;
    padding: 7px 7px;
}
div.edubox:hover
{
    border: 6px solid black ;
    padding: 7px 7px;
}
  