body{
  background-color:white
}
.head{
  padding-top:50px;
  padding-bottom: 50px;
  text-align: center;
  color: white;
  font-size: 62px;
  font-family: Rubik;
  font-style: italic;
  font-weight: bold;
  background-color: rgba(219, 133, 162, 0.726);
}
.strip2{
  width: 100%;
  height: 25px;
  background-color: rgba(238, 224, 30, 0.438);
}
.info{
  
  font-size: 19px;
  color: black;
  font-family: Rubik;
 

}
.start{
  color: black;
  font-family: Rubik;
  font-size: 30px; 
  margin-top: 0;
}
.box{
  border-radius: 8px;
  border: solid;
  width: 288px;
  height: 440px;
  padding-top: 24px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-color: black;
  border-width: 1px;
  margin-top: 10%;
  margin-left: 6%;
  margin-bottom: 5%;
  margin-right: 3%;
  display: inline-block;
  vertical-align: top;
  background-color: rgba(238, 224, 30, 0.438);
}
.knife{
display: inline-block;
border-radius: 8px;
border: solid;
width: 288px;
height: 440px;
padding-top: 27px;
padding-bottom: 20px;
padding-left: 20px;
padding-right: 20px;
border-color: black;
border-width: 1px;
margin-top: 10%;
margin-left:6%;
margin-bottom: 5%;
margin-right: 5%;
vertical-align: top;
background-color: rgba(238, 224, 30, 0.438);
}
.profile{
  width: 200px;
  height: 200px;
  border-radius: 100px;
  object-fit: cover;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 0%;
  vertical-align: top;
  margin-top: 10%;
}
.link{
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}
.strip{
  width: 100%;
  height: 1px;
  background-color: black;
}
.social{
  margin-top: 5px;
  margin-left: 1%;
}
.brief{
  font-family: Rubik;
  width: 160px;
  color: black;
  margin-bottom: 4%;
  display: inline-block;
  vertical-align: top;
  margin-top: 27%;
  margin-left: -14%;
}
.contacts{
  background-color:rgba(219, 133, 162, 0.726);
  padding-top: 10px;
}
.img{
  margin: 1%;
  padding-left: 24px;
  background-color: rgba(238, 224, 30, 0.438);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  border: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 8px;
}
img{
  width: 300px;
  height: 225px; 
  object-fit: cover;
  border-radius: 8px;
}