

body{
    margin: 0;
    padding: 0;
  }
  .first-section{
    display: flex;
    height: max-content;
    width: 100%;
    padding: 50px;
  }
  .first-text-section{
    width: 50%;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .first-text-section>h1{
    font-size: 69px;
  }
  .first-text-section>h2{
    font-size: 55px;
    margin-bottom: 0;
  }
  .name-colour{
    color: greenyellow;
  }
  .image-first-section{
    width: 50%;
    margin-left: 25%;
  
  }
  
  .firstimage{
    height: 450px;
    border-radius: 10%;
  
  }
  .developer-colour{
    color:greenyellow;
    /* clear: right; */
  
  }
  .second-section-heading{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .images{
    height: 350px;
    display: flex;
    justify-content: space-evenly;
    
  }
  
  
  #pic2 img{
    height: 350px;
    display:flex;
    justify-content: space-evenly;
  }#pic3 img{
    height: 350px;
    display:flex;
    justify-content: space-evenly;
  }
  


  
  
  footer{
    border-top: 3px solid black;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .buttons{
    display: flex;
    justify-content: space-around;
  }
  #github img{
    height:50px;

  }
  #linkedin img{
    height:50px ;

  }
  #instagram img{
    height:50px;


  }
  
.interests{
  border-top: 3px solid black;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
