body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right top, #ffb6c1, #87ceeb); /* Half light pink half light blue background */
    color: #333; /* Text color */
}

header {
    background-color: rgba(255, 255, 255, 0.8); /* Header background color */
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    margin-right: 0;
}

.profile-image {
    
    margin: 30px auto;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Aesthetic shadow effect */
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}