@font-face {
  font-family: gilroy;
  src: url(Gilroy-Regular.ttf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
  text-align: justify;
}
html,body{
  width: 100%;
  height: 100%;
}
.main{

  overflow: hidden;
  padding: 3rem;
  background: #D2B48C;
}


.section1{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.description p{
  font-family: "Architects Daughter", cursive;
  padding-right:60px;
}
.description h1{
  font-size: 3.5em;
  line-height: 70px;
}
.theme{
  color: #a3673a;
}
.image img{
  width:500px;
  border-radius: 20px;
  transition: transform 0.3s ease; /* Add transition effect */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.image img:hover {
  transform: scale(1.05); /* Scale up the image on hover */
}

.image{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.text{
  text-align: center;
  font-size: 1.5em;
  text-transform: capitalize;
}
.visionboard{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem;
}

.visionboard img {
  width: 30%;
  height: 30vh;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease; /* Add transition effect */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.visionboard img:hover {
  transform: scale(1.05); /* Scale up the image on hover */
}

.pictures{
  width: 30%;
  height: 30vh;
  object-fit: cover;
  border-radius: 10px;
}
.pic1{
  object-position: 50% 30%;
}
.section2{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.interests,.q{
  width: 50%;
  margin: 0% 2rem;

}
.interests p{
  font-family: "Architects Daughter", cursive;
}
.interests h1{
  margin-bottom: 1rem ;
}

.qualification{
  display: flex;
  padding: 1rem ;
  justify-content: space-evenly;
  align-items: center;

}
.qualification p{
  font-family: "Architects Daughter", cursive;
  margin-bottom: 1.5rem;
}
.line{
  border: 2px solid black;
  border-radius: 5px;
  margin: 2rem 0rem;
}
.textcontact{
  text-align: center;
  margin-bottom: 0.5rem;
}
.contact{
  display: flex;
  align-items: center;
justify-content:space-evenly;

}
.love{
  text-transform: capitalize;
  text-align: center;
  margin-top: 1rem;
}
@media (max-width : 950px) {
  html,body{
      width: 100%;
      height: 100%;
  }
  .main{
      margin: 0;
      border: 0px double black;
      padding: 3rem;
      background: rgba(242, 225, 225, 0.443);
  }
  .section1{
      flex-wrap: wrap;
  }
  .image img{
      margin-top: 2rem;
      width: 90vw;
      height: 50vh;
      object-fit: cover;
      object-position: top;
      border-radius: 10px;
  }
  .visionboard{
      overflow-x: scroll;
  }
  .visionboard{
      justify-content: space-between;
      padding: 0px 0.6rem ;
  }
  .pictures{
      width: 80%;
      height: 20vh;
      padding: 0.5rem;
      object-fit: cover;
      border-radius: 10px;
  }
  .pic1{
      object-position: 50% 30%;
  }
  .section2{
      flex-wrap: wrap;
  }
  .interests,.q{
      width: 100%;
      margin: 0% 2rem;
  }
  .interests h1{
      margin-bottom: 1rem ;
  }
  .Qualif{
      margin-top: 1.5rem;
      font-family: "Architects Daughter", cursive;

  }
  
}
@media (max-width: 550px) {
  .main{
      margin:  0rem;
      border: 0px;
      padding: 1.5rem;
      overflow: hidden;
  }
  .section1{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
  }
  .description h1{
      font-size: 2.5em;
      line-height: 50px;
  }
  .image img{
      width: 100%;
      height: 45vh;
      border-radius: 10px;
  }
  .text{
      text-align: center;
      font-size: 1.5em;
      text-transform: capitalize;
  }
  .visionboard{
      flex-wrap: wrap;
      margin: 0.5rem;
  }
  .pictures{
      width: 100%;
      padding: 1rem 0rem;
      height: 25vh;
      object-fit: cover;
      border-radius: 20px;
  }
  .pic1{
      object-position: 50% 30%;
  }
  .section2{
      flex-wrap: wrap;
  }
  .interests,.q{
      width: 100%;
      margin: 0% 1.2rem;

  }
}


@media (max-width:1100px) and (min-width : 950px) {
  .main{
      margin: 0rem;
      border: 0px double black;
      height: 100vh;
  }
}



