*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.colour{
    color: #103f70;
}

header{
      position: relative;
      left: 100px;
}

.Heading-side{
    height: 150px;
    width: 400px;
}

.Heading{
    position: relative;
    top: 5px;
}


.photo-1{
    height: 250px;
    width: 250px;
    background-size: cover;
    position: absolute;
    left: 800px;
    top: 5px;
    right: 50px;
}

.photo{
    position: absolute;
    left: 800px;
    top: 275px;
    right: 50px;
}

.head{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: #103f70;
}

.Gallery{
    position: relative;
      left: 35px;
}
.box-img{
    position: relative;
    top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.box{
    height: 150px;
    width: 150px;
    background-size: cover;
}

.details{
    position: relative;
      left: 100px;
      top: 15px;
      height: 100px;
      width: 300px;
}

.passing{
    position: absolute;
    left: 830px;
    top: 20px;
    right: 50px;
}

caption{
      color: #103f70;
      font-weight: bold;
      font-size: large;
}

footer{
    position: relative;
    top: 2px;
}

.foot-1{
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.foot-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}