body{
  margin: 0;
  padding: 0;
background-image: linear-gradient(to right,rgb(28, 171, 109),white,rgb(20, 169, 104));
}
img{
  height: 250px;
}
div{
  padding: 5px;
  margin: 15px;
  /* border: 1px solid black; */

}
.container{
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  
}
.image{
  display: flex;
  gap: 50px;
  
}

