body {
    background-image: url("background.webp");
    box-sizing: border-box;
    overflow-x: hidden;
}
 header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
 }
 header img{
    width: 400px;
    border-radius: 50%;
 }
#Heading {
    color: rgb(230, 43, 193);
    font-weight: 900;
    font-family: sans-serif;
    font-size: 4vw;
}

h2 {
    color: rgb(74, 35, 111);
    font-family: cursive;
    font-size: 48px;
}

h3 {
    color: rgb(125, 57, 189);
    font-size: 40px;
    text-decoration: underline;
    text-align: left;
}


#flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#flex-container img{
    max-width: 300px;
}
#abtme {
    font-size: 2vw;
    font-weight: 600;
    font-family: Cambria;
    font-style: italic bold;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    background-color: antiquewhite;
}

#image {
    background-image: url("mypic2.webp");
    background-size: cover;
    border-radius: 50%;
    padding: 20px;
}

#gallery {
    text-align: center;
    color: rgb(125, 57, 189);
    font-size: 40px;
}

#interesth {
    text-align: center;
}

#interest-qual {
    display: flex;
    justify-content: space-around;
}

#interests {
    font-size: 2vw;
    font-weight: 600;
    font-family: Cambria;
    font-style: italic bold;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    background-color: antiquewhite;
}

#qualifications {
    padding: 20px;
}

#qhd {
    text-align: center;
}

table {
    font-size: 20px;
    font-family: Calibri;
    font-weight: 900;
    color: rgb(89, 43, 43);
}

.sec {
    text-align: right;
}

#contact {
    background-color: black;
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: white;
}

#info-bar {
    font-size: 2vw;
    text-align: center;
}


@media screen and (max-width:800px) {
    #flex-container{
      
        flex-direction: column;
        justify-content: space-between;
    }
    #flex-container img{
        margin-top: 5%;
        
    }
    #interest-qual{
        flex-direction: column;
    }

    header {
        flex-direction: column;
    }
    header img {
        width:350px;
    }
    #interests {
        margin-left: 1%;
    }
}