*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    }
.banner{
        width: 100%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(vssutroad.jpg);
        background-size: cover;
        background-position-y: 30%;
      }
body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
    color: bisque;
    
  }
  
  
  header {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0px;
  }
  
  header h1 {
    font-size: 4em;
    margin-bottom: 5px;
    
  }
  
  header h3 {
    font-style: italic;
    font-size: 2.6em;
    margin-bottom: 10px;
    color: #ee4e4e;
    margin-top: 40px;
  }
  
  header img {
    width: 150px;
    border-radius: 50%;
    margin: 10px ;
    
  }
  
  section {
    margin-bottom: 20px;
  }
  
  section h2 {
    display: flex;
    font-size: 1.8em;
    margin-bottom: 10px;
    justify-content: center;
  }
  
  section p {
    line-height: 1.8;
    font-size: 1.2rem;
    margin: 2rem;
   }
  
  #hobbies ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #hobbies li {
    margin-bottom: 18px;
    margin-left: 20px;
    font-weight: bold;
  }

  #achieve ul {
    list-style: none;
    padding: 0;
    margin: 0;
    align-content: center;
  }

  #achieve li {
    margin-bottom: 20px;
    margin-left: 20px;
    font-weight: bold;
  }
  
  
  footer {
   background-color: #d75c0f;
   height: 10rem;
   
    
  }
  #contact h3{
    display: flex;
    justify-content: center;
  
  }

  #contact ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    font-size: 1.5rem;
  }