
body{
    margin: 0;
    padding: 0;

  }
  .first-section{
    display: flex;
    height: max-content;
    width: 100%;
    padding: 50px;
  }
  .first-text-section{
    width: 50%;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .first-text-section>h1{
    font-size: 69px;
    background-color: beige;
  }
  .first-text-section>h2{
    font-size: 55px;
    margin-bottom: 0;
    background-color: beige;
  }
  .name-colour{
    color:royalblue;
  }
  .image-first-section{
    width: 50%;
    margin-left: 25%;
    
  
  }
  
  .firstimage{
    height: 450px;
    border-radius: 10%;
    background-color: rgb(215, 215, 130);
  
  }
  .developer-colour{
    color:royalblue;
    /* clear: right; */
  
  }
  .second-section-heading{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .images{
    height: 350px;
    display: flex;
    justify-content: center;
    
  }
  .desc{
    text-align:center;
    font-size: large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  }
  .images>img{
    height: 300px;
    border-radius: 5%;
    position: relative;
    animation-name: example;
    animation-duration: 10s;

  }
  .about-div{
    padding: 25px;
    width: 100%;
    display: flex;
    align-items: center;
  }

  
  
  footer{
    border-top: 3px solid black;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .buttons{
    display: flex;
    justify-content: space-around;
  }
  #github img{
    height:50px;

  }
  #linkedin img{
    height:50px ;

  }
  #instagram img{
    height:50px;


  }
  

.interests{
    background-color: rgb(195, 195, 110);
  border-top: 3px solid black;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}