.bg-image{
    background-image: url("https://wallpapers.com/images/featured/profile-background-b5vedq7mz8mjvslu.jpg");
    background-size: cover;
    height: 100vh;
    padding: 0px;
    background-color: #2f0147;
}

.bg-color{
    background-color: #2f0147;
}

.p1{
    color: white;
    padding: 20px;
    margin: 5px;
}

.name{
    color: #f76c0f;
    font-family:sans-serif;
    font-size: 38px;
}

.title{
    color: #eb8117;
}

.pic{
    margin: 5px;
    padding: 10px;
}


.photo{
    height: 275px;
    width: 200px;
}

.p2{
    color: white;
    padding: 10px;
    margin: 0px;
}
.cent{
    text-align: center;
    margin: 1px;
    padding: 15px;
}

.para{
    font-size: 20px;
    font-family: sans-serif;
}

.cent2{
    text-align: center;
    margin-right: 50px;
    padding: 15px;
}

.head{
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    color: #fa2327;
}

.cont{
    border-radius: 10px;
    background-color: blueviolet;

}

.cont-head{
    text-decoration: underline;
    color: floralwhite;
}

.yr{
    color: #f037a0;
    text-decoration: underline;
}

.cont-head2{
    color: #bfbcbb;
}