p {
    line-height: 50px;
    font-size:30px;
    font-family: Verdana;
    padding-top: 0%;
    margin-top: 0%;
    columns: 2;
    text-align: none;
    color:antiquewhite;

}

h1 {
    font-weight: 200;
    font-size: 50px;
    line-height: 0px;
    margin-bottom: 3%;
    padding-bottom: 0%;
    color:antiquewhite;



}