h1 {
    color: rgb(219, 126, 19);
    background-color: rgb(100, 100, 116);
    font-size: 100px;
    text-decoration: underline;
    font-family: Georgia;
    text-align : center;
}

p {
    color: rgb(241, 39, 150);
    line-height: 30px;
    letter-spacing: 3px;
    column-count: 0;
    column-gap: 20px;
}
ul {
    border-width: 4px;
    border-style: groove;
    
}
ol {
    /* border-width: 4px;
    border-style:dotted; */
    border: 4px solid crimson;

}
li {
    list-style-type:square;
    text-shadow: 2px 2px lightgray;

}