


body {
    background-image: url(background.png);
    margin: 0; 
    padding: 0; 
}

.part1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
}

.hello {
    font-size: 35px;
    font-weight: 400;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    color: peru;
    margin: 10px; 
}

.sam {
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(102, 47, 8);
    font-weight: 600;
    margin: 10px; 
}

.about {
    font-size: 32px;
    font-weight: 450;
    color: peru;
    margin: 10px; 
}

.my {
    font-family: cursive;
    font-size: 25px;
    color: rgb(218, 60, 218);
    margin: 10px; 
}

.fr {
    font-size: 38px;
    color: darkred;
    margin: 10px; 
}

.photo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.gallery {
    text-align: center;
    font-size: 25px;
    color: orange; 
    margin: 10px; 
}

.part3 {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.Qualification {
    font-size: 20px;
    text-align: center; 
    margin: 10px; 
}

.imp {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.ma,
.in,
.un {
    margin-left: 10px; 
}

.box {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

.me {
    font-size: 35px;
    font-weight: 500;
    text-align: center; 
    margin: 10px; 
}

img {
    max-width: 100%; 
    height: auto; 
    border-radius: 40px;
    margin: 10px; 
}

h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 600;
}

.demo {
    font-family: cursive;
    font-weight: 300;
    font-size: 30px;
}

hr {
    border-width: 2px;
    color: black;
}

@media (max-width: 600px) {
    .part1 {
        flex-direction: column;
        align-items: center; 
    }

    .sam {
        font-size: 30px; 
    }

    .about {
        font-size: 25px; 
    }

    .my {
        font-size: 20px; 
    }

    .fr {
        font-size: 30px; 
    }

    .gallery {
        font-size: 20px; 
    }

    .ma,
    .in,
    .un {
        margin-left: 0;
    }

    .Qualification {
        margin: 0; 
    }

    .me {
        font-size: 30px;
    }
}