body{
    background-color:white;
}
#name p{
    position:relative;
    left: 51px;
    color: pink;
    font-family: fantasy;
    font-size: 31px;
    padding:0px;
    margin: 3px;
}
#name h1{
    position:relative;
    left:51px;
    color: brown;
    font-style: oblique;
    font-family: 'Gill Sans';
    font-size: 31px;
    padding:0px;
    margin: 3px;
}
#intro p{
    position:relative;
    left:51px;
    height: 221px;
    width:391px;
    position: left;
    font-family: 'Cambria';
    font-size:20px;
    font-style:inherit;
    color:blanchedalmond;
    padding: 3px;
}
#intro h2{
    position:relative;
    left:31px;
    color:cornflowerblue;
    font-size: 29px;
    text-decoration: underline;
}
#dp{
    padding: 0px;
    margin: 0px;
    border:3px;
}
#text{
    position: absolute;
    top:390px;
    left:1011px;
    color:green;
    font-size: 40px;
    font-family:"Franklin Gothic Medium";
    font-style: italic;
    padding: 0px;
    margin: 0px;
}
#file{
    position:absolute;
    left:500px;
    top:459px;
    color:skyblue;
    font-family:'Frankln Gothic Medium';
    font-weight: 700;
    font-style: oblique;
    font-size:41px;
}
#p1{
    height:271px;
    width:261px;
    position:absolute;
    left:91px;
    top:521px;
}
#p2{
    height:271px;
    width:261px;
    position:absolute;
    left:91px; 
    top:521px;
}
#p3{
    height:271px;
    width:261px;
    position:absolute;
    left:91px; 
    top:521px;
}
#interest h2{
    position:absolute;
    left:230px;
    top:800px;
    font-family: Impact;
    color: black;
    font-size: 31px;
    font-weight: 400;
    font-style: oblique;
}
#interest p{
    position:absolute;
    left:100px;
    top:850px;
    font-family:Georgia;
    color:purple;
    font-size: 20px;
    height:221px;
    width:391px;
}#study h2{
    position:absolute;
    left:900px;
    top:820px;
    color:indianred;
    font-family: 'Times New Roman';
    font-weight: 300;
    font-style: initial;
    font-size:31px;
    text-decoration:underline;
}#details {
    position:absolute;
    left:880px;
    top:900px;
    width:20%;
    border: 1px solid;
    background-color: blue;
    font-size: 21px;
    font-family: 'Gill Sans';
    color:crimson;
}#con h2{
    position:absolute;
    left:550px;
    top:1120px;
    color:mediumvioletred;
    font-size: 39px;
}
#c1{
    position: absolute;
    color:burlywood;
    top:1220px;
    left:520px;
    font-size: 29px;
}
#c2{
    position: absolute;
    color:lightseagreen;
    top:1120px;
    left:520px;
    font-size: 29px;
}
#c3{
    position: absolute;
    color:whitesmoke;
    top:1120px;
    left:520px;
    font-size: 29px;
}