body {
    background-image: url(Images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    margin: 2%;
    padding: 0;
    padding-left: 20px;
    display: flex;
    flex-direction:column;
}
 header{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
 }
 @media (max-width:800px){
    header {
        flex-direction: column-reverse;
    }
    
 }
 #Name {
    font-size:40px;
    font-weight: 800;
    font-style: bold;
    text-align:left;
    color: rgb(77, 9, 97);
}
 header img{
    width: 300px;
    height: 300px;
    background-size: cover;
    border-radius: 50%;
    margin-top: 50px;
 }
 h2 {
    font-size: 40px;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(77, 9, 97) ;
 }

#About {
    font-size: 30px;
    font-weight: 500;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
    text-wrap: wrap;
}

.images {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.images img {
        width: 25vw;
        height: 25vw;
        border-radius: 5%;
        position: relative;
        background-size:cover;
}

#gallery {
    text-align: center;
    color:  rgb(77, 9, 97);
    font-size: 40px;
    font-weight: 700;
}

#interest-heading {
    text-align: left;
    font-size: 40px;
    font-weight: 700;
    color: rgb(77, 9, 97);
}

#interests {
    font-size: 30px;
    font-weight: 500;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#qualifications {
    font-size: 40px;
    font-weight: 700;
    color: rgb(77, 9, 97);
}

table {
    font-size: 30px;
    font-family: Calibri;
    font-weight: 500;
    color: rgb(12, 12, 12);
}

.ali {
    text-align: center;
}

#contact {
    width: 100%;
    text-align: center;
    font-size: 40px;
    color:rgb(77, 9, 97);
    font-weight: 700;
}

.info {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    display: flex;
    justify-content: space-between;
    text-wrap: wrap;
    flex-shrink: 1;
}

