body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

.container {
    display: flex;
    justify-content: space-between;
}

.text-content {
    width: 50%;
    padding: 20px;
}

.image-content {
    width: 50%;
}
img {
    max-width: 100%;
    height: auto;
}

header {
    margin-left: 300px;
    background-color: #000000;
    color: rgb(255, 255, 255);
    text-size-adjust: 50px;
    padding: 1px;
    text-align: start;
}

section {
    margin-left: 300px;
    padding: 1px;;
    text-align: auto;
    color: rgb(255, 255, 255);
    background-color: black;
    text-size-adjust: 50px;
    transition: 1.0 ease-in;   
}
section:hover {
    transform: scale(1.1);
    font-stretch: extra-condensed;
}
div{
    margin-left: 100px;
    padding: 10px;;
    
    color: rgb(255, 255, 255);
    background-color: black;
    transition: 1.0 ease-in;
}
#banner {
    width:200px; /* Adjust this value to change the width of the video */
    height: 100px; /* Adjust this value to change the height of the video */
    overflow: hidden;
    position: relative;
    z-index: -1;
}
#banner video {
    position: absolute;
    width: 100%;
    height: 100%;
}


.lar_ge {
    font-size: 25px;
    color: white;
}
.small {
    font-size: 5px;
    color: white;
}
.scrollable {
    width: 100%;
    height: 1000px;
    overflow: auto;
}

.round-img {
    border-radius: 100%;
    width: 220px;
    height: 220px;
    transition: transform 0.3s ease-out;
}
.round-img:hover {
    transform: scale(1.05);
}

h1, h2 {
    color: #ffffff;
}

a {
    color: #8ce400;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


footer {
    background-color: #333;
    color: rgb(37, 206, 37);
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}/* i will footer as per requirement*/
