:root {
	--body-color: rgb(250, 250, 250);
	--color-white: rgb(255, 255, 255);
	--third-color: rgb(192, 166, 49);
	--dark-gray: rgb(50, 50, 50);
}

* {
	font-family: "Montserrat";
}

body {
	background: var(--body-color);
	color: var(--dark-gray);
}

h1,
h2,
h4,
h5,
h6 {
	font-family: "Montserrat";
}

td {
	padding: 15px;
}

tr td:first-child {
	font-family: "Montserrat";
	font-weight: 700;
	padding-right: 70px;
}

tr td:last-child {
	text-align: end;
}

.big-heading {
	font-family: "Montserrat";
	font-weight: 900;
	font-size: 3.5rem;
	line-height: 1.5;
	padding: auto;
	margin: 1%;
}

.med-heading {
	font-family: "Montserrat";
	font-weight: 700;
	font-size: 2.5rem;
	line-height: 1.5;
	padding: auto;
	margin: 1%;
}

.small-heading {
	font-family: "Montserrat";
	font-weight: 700;
	font-size: 2rem;
	line-height: 1.5;
	margin: 0%;
}

#about {
	padding: 5%;
	background-color: #f0f8ff;
}
#name {
	color: #ff4c68;
}

#gallery {
	margin-top: 0%;
}
#developer {
	color: #ff4c68;
	font-weight: 600;
}
#interests {
	color: white;
	padding: 5%;
	background-color: #003049;
}

.qualification {
	margin-top: 0px;
}

#aboutme-photo {
	text-align: end;
}

#contact {
	margin-top: 2%;
	text-align: center;
	margin-bottom: 50px;
}

.para {
	padding: 10px;
}

.gallery-image {
	width: 25%;
	margin: 20px 20px 50px;
}

.row {
	display: flex;
}

.aboutme-column {
	flex: 50%;
	padding: 10px;
}

.career-column-1 {
	flex: 65%;
	padding: 20px;
}

.career-column-2 {
	flex: 35%;
	padding: 20px;
}

.profile-image {
	width: 50%;
}

.social-links {
	margin: 2%;
	flex: 25%;
	color: #003049;
}
