body{
    background-color:rgb(215, 210, 202);
    padding: 0px;
    align-items: center;
}
.intro{
    display: flex;
}
.image{
    border-radius: 50%;
    width:300px;
    height:200px;
    margin-right: 50px;
    margin-top: 0px;
    margin-bottom: 100px;
    position:relative;
}
.intro p{
    color:red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    flex: 1;
   
}
.Gallery{
    display: flex;
    flex-wrap: wrap;
}
.image1{
    width: 200px;
    margin: 20px;
    margin-top: 100px;
    margin-right: 150px;
    position: relative;
}
.image1 img{
    width: 300px;
    
}
h1{
    color:rgb(44, 45, 145);
    font-family:'Times New Roman', Times, serif;
    font-size: 40px;
    text-decoration: double;

}
.interest p{
    color:crimson;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}

.contact a{
    color:red;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:20px;
    
}
.Gallery h1{
    text-decoration: underline;
}
.interest h1{
    text-decoration: underline;
}

h2{
    color:rgb(44, 45, 145);
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}
@media screen and (max-width:800px;){
    body{
        background-color:rgb(215, 210, 202);
        padding: 0px;
        align-items: center;
    }
    .image{
        margin-right:2px;
        margin-left:65%;
        max-width: 3px;
        max-height: 3px;
    }
    .intro p{
        color:red;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        
    }
    .Gallery{
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }
    .image1{
        width: 100px;
        margin: 2%;
        margin-top: 3%;
        margin-right: 2%;
        
    }
    .image1 img{
        width: 150px;
    }
    h1{
        color:rgb(44, 45, 145);
        font-family:'Times New Roman', Times, serif;
        font-size: 10px;
        text-decoration: double;
    
    }
    .interest p{
        color:crimson;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 8px;
    }
    .contact a{
        color:red;
        margin-right: 10px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size:10px;
        
    }
    .Gallery h1{
        text-decoration: underline;
    }
    .interest h1{
        text-decoration: underline;
    }
    
    h2{
        color:rgb(44, 45, 145);
        text-decoration: underline;
        font-family: 'Times New Roman', Times, serif;
        font-size: 10px;
    }
}
@media screen and (max-width:780px) and (min-width:530px) {
    body{
        background-color:rgb(215, 210, 202);
        padding: 0px;
        align-items: center;
    }
    .intro{
        display: flex;
        
    }
    .image{
        margin-right: 0;
    }
    .image img{
        max-width:100%;
        max-height:100%;
        margin-left:80px;
        padding:0%;
    }

    .intro p{
        color:red;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 18px;
        flex:1;
        margin-top:0;
        margin-right:5px;
        margin-bottom: 0;
    }
}
@media screen and (max-width:530px) {
    body{
        background-color:rgb(215, 210, 202);
        padding: 0px;
        align-items: center;
    }
    .intro{
        display: flex;
        
    }
    .image{
        margin-right: 0;
        margin-bottom: 0;
        
    }
    .image img{
        max-width:100%;
        max-height:100%;
        margin-left:90px;
        padding-left: 0;
    }

    .intro p{
        color:red;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 13px;
        flex:1;
        margin-top:0;
        max-width:200px;
        margin-bottom: 0;
        padding-right: 0;
        position: relative;
    }
    
}