*{
    
    border: 0;
    padding: 0;
    font-weight:bold;
    
}
body{
    background-image: url(background.jpg);
}
#top{
    color: black;

    font-size: 30px;
}

#container1{

display: flex;
flex-wrap: wrap-reverse;
justify-content: space-around;
align-content: center;
flex-direction: row-reverse;

}

#aboutme{

display: inline-block;
width: 700px;

flex-grow: 0.5;

}
.ab1{
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    font-size: 35px;
    margin-bottom: 20px;
}

#image{
    display: inline-block;
    border-radius: 30px;


    

}

#biswa{
    width: 300px;
    border-radius: 30px;
    border: 2px solid black;
    
}

#container2{
    
   
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
}
#c1{

    text-align: center;
    padding-top: 85px;
    
}

#c11{
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px 25px 5px 25px;
    font-size: 40px;
    display: inline-block;
}

.gallery{
    display: inline-block;
}
.g1{
    width: 450px;
    border-radius: 20px;
}
@media(max-width:511px){
    .g1{
        width: 300px;
    }
}
#bottom{
    border: 3px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
    
}



#b1{
 
    
    display: inline-block;
    flex-grow: 1;
    text-align: center;

}

#b2{
 
    display: inline-block;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 2.5;
    flex-wrap: wrap;
}