*{
    
    border: 0;
    padding: 0;
    font-weight:bold;
    
}
body{
    background-image: url(background.jpg);
}
#top{
    color: black;

    font-size: 30px;
}

#container1{
/* background-color: blue; */
display: flex;
flex-wrap: wrap;
justify-content: space-around;

padding-right: 50px;
}

#aboutme{
/* background-color: pink; */
display: inline-block;
width: 700px;
padding-left: 20px;
}
.ab1{

    font-size: 35px;
}

#image{
    display: inline-block;
    border-radius: 30px;
    /* background-color: red; */


}

#biswa{
    width: 300px;
    border-radius: 30px;
}

#container2{
    
    /* background-color: aqua; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
}
#c1{

    text-align: center;
    padding-top: 85px;
    
}
.gallery{
    display: inline-block;
}
.g1{
    width: 500px;
    border-radius: 20px;
}


#b1{
    text-align: center;
    font-size: 25px;
}

#b2{
    display: flex;
    justify-content: space-around;
}
