
* {
  margin: 0;
  padding: 0;
}


*,
*::before,
*::after {
  box-sizing: inherit;
}


* {
  margin: 0;
  padding: 0;
}


*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}



@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}



body {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
  color: #fff;
}

img {
  display: block;
  width: 100%;
}

h1,
h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 6rem;
  font-size: 72px;
  background: -webkit-radial-gradient(#e8f5e9, #b2dfdb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-size: 4.2rem;
  color: #2196f3;
  border: 0.5px solid #ddd;
}
p {
  font-size: 2rem;
  color: #e1bee7;
}



.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background:  rgba(0, 0,0, 0.5);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
}

li {
  display: inline;
}

ul {
  list-style: none;
  padding: 10px;
}

a {
  text-decoration: none;
  margin-left: 1.5em;
  margin-right: 1.5em;
  font-size: 1em;
  color: #fff;
}
a:hover {
  color: #fbc02d;
}



.home{
    position: relative;
    width: 100;
    justify-content: space-between;
    height: 100vh;
    
    background-image:url("barsa.jpg") ;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}
.home-content{
    max-width: 600px;
}
.home-content h3{
    font-size: 32px;
    font-weight: 700;
}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
}
.home-content p{
    font-size: 20px;
}
.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
}
.home-sci a:hover{
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;

}



.projects-section {
  text-align: center;
  padding: 10rem 2rem;
  background: #eceff1;
}
.projects-section-header {
  max-width: 640px;
  margin: 3rem auto 6rem auto;
  border-bottom: 0 solid white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 38px;
  word-spacing: 4px;
  letter-spacing: 3px;
  box-shadow: 0 5px 20px #ddd;
}





.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}
@media (max-width: 30.625em) {
  .projects-section {
    padding: 6rem 1rem;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
}
.project {
  background: #ad1457;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 28px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  transition: all 2s, transform 0.5s, box_shadow 0.5s;
}
.project:hover {
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.6);
  transform: scale(1.08);
}

.project-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
  border-top-right-radius: 28px;
  border-top-left-radius: 28px;
}
.project-title {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  text-align: center;
  padding: 2rem 0.5rem;
  color: #fff;
  text-transform: uppercase;
}
.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  font-size: 3rem;
  height: 80vh;
  padding: 0 2rem;
  background: #1c155f;
}
.contact-section-header > h2 {
  font-size: 6rem;
}
#con {
  color: #fff;
  border: none;
}
@media (max-width: 28.75em) {
  .contact-section-header > h2 {
    font-size: 4rem;
  }
}


footer {
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  background: rgba(0, 0,0, 0.5);
  border-top: 4px solid #223eb1;
}
#foot {
  color: #fff;
  font-family: "Poppins", sans-serif;
}
