
body{
    width:auto;
    height:auto;
    background-image: linear-gradient(orange,blue,red);
    margin:65px;
    font-size: 30px;
}

.int{
    font-family:"Audiowide",sans-serif;
    font-weight: 10;
    font-size: 25px;
    width:70%
}
span1 {
    font-family: Sofia;
    font-size: 60px;
    font-weight: 1000;
}
h1{
    color:blueviolet;
}
.aboutme{
    width:70%
}
figure{
    float:right;

}
.myname{
    text-align: center;
}
.Gallery-tedt{
    text-align: center;
    color:rgb(233, 249, 0);
}
.and_div{
   float:right;
}
.container{
    display:flex;}
hr{
    height:1px;
    background-color: blueviolet;
    border:solid 2px;

    }
figcaption{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: gold;
}
.fro_tel{
   color: gold;
   font-size:50px;
}
.tel_fro{
    color:black;
    font-size:30px;
}
img{
    max-inline-size: 100%;
    block-size: auto;
}