body {
    background-image: url("background.webp");
    box-sizing: border-box;
    overflow-x: hidden;
}
 header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
 }
 header img{
    width: 400px;
 }
#Heading {
    color: rgb(69, 9, 148);
    font-weight: 900;
    font-family: sans-serif;
    font-size: 4vw;
}

h2 {
    color: rgb(181, 85, 8);
    font-family: cursive;
    font-size: 48px;
}

h3 {
    color: rgb(7, 95, 158);
    font-size: 40px;
    text-decoration: underline;
}


#flex-container{
    display:inline-block;
    flex-direction:row-reverse;
    justify-content: space-evenly;
}
#flex-container img{
    max-width: 400px;
}
#abtme {
    font-size: 15vw;
    font-weight: 600;
    font-family: Cambria;
    font-style:italic;
    border: 3px solid black;
    border-radius: 15px;
    padding: 10px;
    background-color: antiquewhite;
}

#image {
    background-image: url("mypic2.webp");
    background-size: cover;
    border-radius: 50%;
}

#gallery {
    text-align: center;
    color: rgb(125, 57, 189);
    font-size: 40px;
}

#interesth {
    text-align: center;
}

#interest-qual {
    display: flex;
    justify-content: space-around;
}

#interests {
    font-size: 3vw;
    font-weight: 400;
    font-family: Cambria;
    font-style: italic bold;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    background-color: antiquewhite;
}

#qhd {
    text-align: center;
}

table {
    font-size: 30px;
    font-family: Calibri;
    font-weight: 900;
    color: rgb(76, 3, 107);
}

.sec {
    text-align: right;
}

#contact {
    background-color: black;
    width: 100%;
    text-align: center;
    font-size: 50px;
    color: white;
}

#info-bar {
    font-size: 4vw;
    text-align: center;
}


@media screen and (max-width:800px) {
    #flex-container{
      
        flex-direction: column;
        justify-content: space-between;
    }
    #flex-container img{
        margin-top: 5%;
        
    }
    #interest-qual{
        flex-direction: column;
    }

    header {
        flex-direction: column;
    }
    header img {
        width:350px;
    }
    #interests {
        margin-left: 1%;
    }
}