*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 100%;
    overflow-x: hidden;

}
.container{
    min-width: 100%;
    min-height: 100%;
    background: linear-gradient(45deg,blue,red);
}
html{
    scroll-behavior: smooth;
}
.heading{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: antiquewhite;
    word-spacing: 7px;
    letter-spacing: 3px;
    text-decoration: underline;
}
.navbar{
    background: black;
    height: 330px;
    display: flex;
    margin-top: 10px;
}
#logp{
    margin: 6px 6px;
}
#logo img{
    height: 230px;
    width: 200px;
    padding-top: 20px;
    padding-left: 25px;
}
.head2{
    padding-top: 8px;
    font-size: 25px;
    color: aquamarine;
    padding-left: 25px;
    text-decoration: underline;
}
.flex-container{
    display: flex;
    width: 1100px;
    height: auto;
}
.flex-box{
    color: black;
    width: 900px;
    height: 270px;
    padding-left: 30px;
    margin-left: 100px;
    margin-top: 25px;
    background: linear-gradient(45deg,lightpink,rgb(174,16,16));
    border-radius: 20px;
}
.text{
    color: rgb(39, 5, 68);
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.flex-box1 img{
    height: 250px;
    width: 200px;
    margin-top: 30px;
}
.text1{
    color: peachpuff;
    font-size: 40px;
    text-align: center;
    margin: 10px;
    text-decoration: underline;
}
.gallery{
    margin: 20px;
    display: flex;
}
.gallery #box1 img{
    height: 300px;
    width: 250px;
    margin-right: 80px;
    margin-left: 250px;
    border-radius: 10px;
}
.gallery #box2 img{
    height: 300px;
    width: 230px;
    margin-right: 80px;
    border-radius: 10px;
}
.gallery #box3 img{
    height: 300px;
    width: 200px;
    margin-right: 80px;
    border-radius: 10px;
}

.passion{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
    color: peachpuff;
}
.flex-container1{
    width: 1320px;
    height: 400px;
    display: flex;
}
.flex-box2 {
    color: black;
    width: 1641px;
    height: 227px;
    padding-left: 30px;
    margin-left: 157px;
    margin-top: 30px;
    background: linear-gradient(45deg,lightpink,rgb(174,16,16));
    border-radius: 20px;
  }
.center{
    color: rgb(39, 5, 68);
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}
.flex-box3{
    margin-left: 77px;
}
.flex-box3 img{
    padding-left: 30px;
    height:378px
}
.passion2{
   font-family: 'Times New Roman', Times, serif;
   font-size: 40px;
   text-align: center;
   text-decoration: underline;
   color: peachpuff;
}

.flex-container2{
    width: 1500px;
    height: 310px;
    display: flex;
}
.flex-box4{
    color: black;
    width: 524px;
    height: 180px;
    padding-left: 105px;
    margin-left: 343px;
    margin-top: 20px;
    background: linear-gradient(45deg,lightpink,rgb(174,16,16));
    border-radius: 20px;
}
.flex-box5{
    margin-left: 77px;
}
.flex-box5 img{
    padding-left: 30px;
    height: 175px;
    width: 250px;
    margin-top: 30px;
}
.center1{
    font-size: 30px;
    color: rgb(39, 5, 68);
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    margin-left: -29px;
}
.navbar1{
    background: white;
    height: 88px;
    
}
.footer{
    font-size: 20px;
    text-decoration: underline;
    padding-top: 8px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    margin-left: 630px;
}
.social-icon li{
    font-size: 20px;
    display: inline;
    margin-left: 445px;
}